/*jshint -W069 */
/*global angular:false, btoa */
angular.module('{{&moduleName}}', [])
.factory('{{&className}}', ['$q', '$http', '$rootScope', function($q, $http, $rootScope){
    'use strict';

    /**
     * {{&description}}
     * @class {{&className}}
     * @param {(string|object)} [domainOrOptions] - The project domain or options object. If object, see the object's optional properties.
     * @param {string} [domainOrOptions.domain] - The project domain
     * @param {string} [domainOrOptions.cache] - An angularjs cache implementation
     * @param {object} [domainOrOptions.token] - auth token - object with value property and optional headerOrQueryName and isQuery properties
     * @param {string} [cache] - An angularjs cache implementation
     */
    var {{&className}} = (function(){
        function {{&className}}(options, cache){
            var domain = (typeof options === 'object') ? options.domain : options;
            this.domain = typeof(domain) === 'string' ? domain : '{{&domain}}';
            if(this.domain.length === 0) {
                throw new Error('Domain parameter must be specified as a string.');
            }
            cache = cache || ((typeof options === 'object') ? options.cache : cache);
            this.cache = cache;
           {{#isSecure}}
               {{#isSecureToken}}
                   this.token = (typeof options === 'object') ? (options.token ? options.token : {}) : {};
               {{/isSecureToken}}
               {{#isSecureApiKey}}
                   this.apiKey = (typeof options === 'object') ? (options.apiKey ? options.apiKey : {}) : {};
               {{/isSecureApiKey}}
               {{#isSecureBasic}}
                   this.basic = (typeof options === 'object') ? (options.basic ? options.basic : {}) : {};
               {{/isSecureBasic}}
           {{/isSecure}}
        }

        function mergeQueryParams(parameters, queryParameters) {
            if (parameters.$queryParameters) {
               Object.keys(parameters.$queryParameters)
                   .forEach(function(parameterName) {
                       {{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} parameter = parameters.$queryParameters[parameterName];
                       queryParameters[parameterName] = parameter;
               });
            }
            return queryParameters;
        }

       /**
        * HTTP Request
        * @method
        * @name {{&className}}#request
        * @param {string} method - http method
        * @param {string} url - url to do request
        * @param {object} parameters
        * @param {object} body - body parameters / object
        * @param {object} headers - header parameters
        * @param {object} queryParameters - querystring parameters
        * @param {object} form - form data object
        * @param {object} deferred - promise object
        */
        {{&className}}.prototype.request = function(method, url, parameters, body, headers, queryParameters, form, deferred){
            {{#isGET}}
            var cached = parameters.$cache && parameters.$cache.get(url);
            if(cached !== undefined && parameters.$refresh !== true) {
                deferred.resolve(cached);
                return deferred.promise;
            }
            {{/isGET}}
            var options = {
                timeout: parameters.$timeout,
                method: method,
                url: url,
                params: queryParameters,
                data: body,
                headers: headers
            };
            if(Object.keys(form).length > 0) {
                options.data = form;
                options.headers['Content-Type'] = 'application/x-www-form-urlencoded';
                options.transformRequest = {{&className}}.transformRequest;
            }
            $http(options)
            .then(function(data, status, headers, config){
                deferred.resolve(data);
                if(parameters.$cache !== undefined) {
                    parameters.$cache.put(url, data, parameters.$cacheItemOpts ? parameters.$cacheItemOpts : {});
                }
            })
            .catch(function(data, status, headers, config){
                deferred.reject({
                    status: status,
                    headers: headers,
                    config: config,
                    body: data
                });
            });

        };

        {{&className}}.prototype.$on = function($scope, path, handler){
            var url = this.domain + path;
            $scope.$on(url, function(){
                handler();
            });
            return this;
        };

        {{&className}}.prototype.$broadcast = function(path){
            var url = this.domain + path;
            //cache.remove(url);
            $rootScope.$broadcast(url);
            return this;
        };

        {{&className}}.transformRequest = function(obj) {
            var str = [];
            for(var p in obj) {
                var val = obj[p];
                if(angular.isArray(val)) {
                   val.forEach(function(val){
                     str.push(encodeURIComponent(p) + "=" + encodeURIComponent(val));
                   });
                } else {
                   str.push(encodeURIComponent(p) + "=" + encodeURIComponent(val));
                }
            }
            return str.join("&");
        };

        {{#isSecure}}
            {{#isSecureToken}}
                /**
                * Set Token
                * @method
                * @name {{&className}}#setToken
                * @param {string} value - token's value
                * @param {string} headerOrQueryName - the header or query name to send the token at
                * @param {boolean} isQuery - true if send the token as query param, otherwise, send as header param
                */
                {{&className}}.prototype.setToken = function (value, headerOrQueryName, isQuery) {
                    this.token.value = value;
                    this.token.headerOrQueryName = headerOrQueryName;
                    this.token.isQuery = isQuery;
                };
            {{/isSecureToken}}
            {{#isSecureApiKey}}
                /**
                * Set Api Key
                * @method
                * @name {{&className}}#setApiKey
                * @param {string} value - apiKey's value
                * @param {string} headerOrQueryName - the header or query name to send the apiKey at
                * @param {boolean} isQuery - true if send the apiKey as query param, otherwise, send as header param
                */
                {{&className}}.prototype.setApiKey = function (value, headerOrQueryName, isQuery) {
                    this.apiKey.value = value;
                    this.apiKey.headerOrQueryName = headerOrQueryName;
                    this.apiKey.isQuery = isQuery;
                };
            {{/isSecureApiKey}}
            {{#isSecureBasic}}
                /**
                * Set Basic Auth
                * @method
                * @name {{&className}}#setBasicAuth
                * @param {string} username
                * @param {string} password
                */
                {{&className}}.prototype.setBasicAuth = function (username, password) {
                    this.basic.username = username;
                    this.basic.password = password;
                };
            {{/isSecureBasic}}
            /**
            * Set Auth headers
            * @method
            * @name {{&className}}#setAuthHeaders
            * @param {object} headerParams - headers object
            */
            {{&className}}.prototype.setAuthHeaders = function (headerParams) {
                var headers = headerParams ? headerParams : {};
            {{#isSecureToken}}
                if (!this.token.isQuery) {
                    if (this.token.headerOrQueryName) {
                        headers[this.token.headerOrQueryName] = this.token.value;
                    } else if (this.token.value) {
                        headers['Authorization'] = 'Bearer ' + this.token.value;
                    }
                }
            {{/isSecureToken}}
            {{#isSecureApiKey}}
                if (!this.apiKey.isQuery && this.apiKey.headerOrQueryName) {
                    headers[this.apiKey.headerOrQueryName] = this.apiKey.value;
                }
            {{/isSecureApiKey}}
            {{#isSecureBasic}}
                if (this.basic.username && this.basic.password) {
                    headers['Authorization'] = 'Basic ' + btoa(this.basic.username + ':' + this.basic.password);
                }
            {{/isSecureBasic}}
                return headers;
            };
        {{/isSecure}}

        {{#methods}}
            {{> method}}
        {{/methods}}

	return {{&className}};
    })();

    return {{&className}};
}]);
