/*jshint -W069 */
/*global angular:false */
angular.module('{{&moduleName}}', [])
.factory('{{&className}}', ['$q', '$http', '$rootScope', function($q, $http, $rootScope){
    'use strict';
    
    /**
     * {{&description}}
     * @class " || {{&className}} || "
     * @param {string} domain - The project domain
     * @param {string} cache - An angularjs cache implementation
     */
    var {{&className}} = (function(){
        function {{&className}}(domain, cache){
            if(typeof(domain) !== 'string') {
                throw new Error('Domain parameter must be specified as a string.');
            }
            this.domain = domain;
            this.cache = cache;
        }

        {{&className}}.prototype.$on = function($scope, path, handler){
            var url = domain + path;
            $scope.$on(url, function(){
                handler();
            });
            return this;
        };

        {{&className}}.prototype.$broadcast = function(path){
            var url = domain + path;
            //cache.remove(url);
            $rootScope.$broadcast(url);
            return this;
        };

        {{#methods}}
            {{> method}}
        {{/methods}}

    })();

    return {{&className}};
}]);