{{#definitions}}
export type {{&name}} = {{#flowType}}{{> type}}{{/flowType}};
{{/definitions}}

export default class {{&className}} {
  static request(
    path: string,
    method: 'POST' | 'GET' | 'PUT' | 'DELETE' | 'OPTIONS' | 'HEAD' | 'PATCH',
    query: {[string]: mixed},
    body?: {[string]: any} | string | Array<any>,
  ) {
    throw new Error("Must be implemented");
  }
{{#methods}}
  {{> method}}
{{/methods}}
}
