{{&methodName}}URL(parameters: {
{{#parameters}}{{^isSingleton}}'{{&camelCaseName}}'{{&cardinality}}: {{> type}},
{{/isSingleton}}{{/parameters}}
} & CommonRequestOptions): string {
    let queryParameters: QueryParameters = {};
    const domain = parameters.$domain ? parameters.$domain : this.domain;
    let path = '{{&path}}';
    if (parameters.$path) {
        path = (typeof(parameters.$path) === 'function') ? parameters.$path(path) : parameters.$path;
    } 

    {{#parameters}}
        {{#isQueryParameter}}
            {{#isSingleton}}
                queryParameters['{{&name}}'] = '{{&singleton}}';
            {{/isSingleton}}
            {{^isSingleton}}
                {{#isPatternType}}
                    Object.keys(parameters).forEach(function(parameterName) {
                        if(new RegExp('{{&pattern}}').test(parameterName)){
                            queryParameters[parameterName] = this.convertParameterCollectionFormat(
                                parameters[parameterName],
                                '{{&collectionFormat}}'
                            );
                        }
                    });
                {{/isPatternType}}
                {{^isPatternType}}
                    if(parameters['{{&camelCaseName}}'] !== undefined) {
                        queryParameters['{{&name}}'] = this.convertParameterCollectionFormat(
                            parameters['{{&camelCaseName}}'],
                            '{{&collectionFormat}}'
                        );
                    }
                {{/isPatternType}}
            {{/isSingleton}}
        {{/isQueryParameter}}

        {{#isPathParameter}}
            path = path.replace(
                '{{=<% %>=}}{<%&name%>}<%={{ }}=%>',
                `${encodeURIComponent(this.convertParameterCollectionFormat(
                    parameters['{{&camelCaseName}}'],
                    '{{&collectionFormat}}'
                ).toString())}`
            );
        {{/isPathParameter}}
    {{/parameters}}
    
    if (parameters.$queryParameters) {
        queryParameters = { ...queryParameters, ...parameters.$queryParameters };
    }

    {{^isBodyParameter}}
        {{#isPOST}}
    queryParameters = {};
        {{/isPOST}}
    {{/isBodyParameter}}


    let keys = Object.keys(queryParameters);
    return domain + path + (keys.length > 0 ? '?' + (keys.map(key => key + '=' + encodeURIComponent(queryParameters[key])).join('&')): '');
}

/**
* {{&summary}}
* @method
{{#isDeprecated}}
* @deprecated
{{/isDeprecated}}
{{#externalDocs}}
* @see {@link {{&url}}|{{#description}}{{&description}}{{/description}}{{^description}}External docs{{/description}}}
{{/externalDocs}}
* @name {{&className}}#{{&methodName}}
{{#parameters}}
    {{^isSingleton}} * @param {{=<% %>=}}{<%&type%>}<%={{ }}=%> {{&camelCaseName}} - {{&description}}{{/isSingleton}}
{{/parameters}}
*/
{{&methodName}}(parameters: {
{{#parameters}}{{^isSingleton}}'{{&camelCaseName}}'{{&cardinality}}: {{> type}},
{{/isSingleton}}{{/parameters}}
} & CommonRequestOptions): Promise<{{&responseTypes}}> {
    const domain = parameters.$domain ? parameters.$domain : this.domain;
    let path = '{{&path}}';
    if (parameters.$path) {
        path = (typeof(parameters.$path) === 'function') ? parameters.$path(path) : parameters.$path;
    } 

    let body: any;
    let queryParameters: QueryParameters = {};
    let headers: RequestHeaders = {};
    let form: any = {};
    return new Promise((resolve, reject) => {
{{#headers}}
    headers['{{&name}}'] = {{&value}};
{{/headers}}

{{#parameters}}

    {{#isQueryParameter}}
        {{#isSingleton}}
            queryParameters['{{&name}}'] = '{{&singleton}}';
        {{/isSingleton}}
        {{^isSingleton}}
            {{#isPatternType}}
                Object.keys(parameters).forEach(function(parameterName) {
                    if(new RegExp('{{&pattern}}').test(parameterName)){
                        queryParameters[parameterName] = this.convertParameterCollectionFormat(
                            parameters[parameterName],
                            '{{&collectionFormat}}'
                        );
                    }
                });
            {{/isPatternType}}
            {{^isPatternType}}
                if(parameters['{{&camelCaseName}}'] !== undefined) {
                    queryParameters['{{&name}}'] = this.convertParameterCollectionFormat(
                        parameters['{{&camelCaseName}}'],
                        '{{&collectionFormat}}'
                    );
                }
            {{/isPatternType}}
        {{/isSingleton}}
    {{/isQueryParameter}}

    {{#isPathParameter}}
        path = path.replace(
            '{{=<% %>=}}{<%&name%>}<%={{ }}=%>',
            `${encodeURIComponent(this.convertParameterCollectionFormat(
                parameters['{{&camelCaseName}}'],
                '{{&collectionFormat}}'
            ).toString())}`
        );
    {{/isPathParameter}}

    {{#isHeaderParameter}}
        {{#isSingleton}}
            headers['{{&name}}'] = '{{&singleton}}';
        {{/isSingleton}}
        {{^isSingleton}}
            if(parameters['{{&camelCaseName}}'] !== undefined) {
                headers['{{&name}}'] = parameters['{{&camelCaseName}}'];
            }
        {{/isSingleton}}
    {{/isHeaderParameter}}

    {{#isBodyParameter}}
        if(parameters['{{&camelCaseName}}'] !== undefined) {
            body = parameters['{{&camelCaseName}}'];
        }
    {{/isBodyParameter}}

    {{#isFormParameter}}
        {{#isSingleton}}
            form['{{&name}}'] = '{{&singleton}}';
        {{/isSingleton}}
        {{^isSingleton}}
            if(parameters['{{&camelCaseName}}'] !== undefined) {
                form['{{&name}}'] = parameters['{{&camelCaseName}}'];
            }
        {{/isSingleton}}
    {{/isFormParameter}}

    {{#required}}
        if(parameters['{{&camelCaseName}}'] === undefined) {
            reject(new Error('Missing required {{&paramType}} parameter: {{&camelCaseName}}'));
            return;
        }
    {{/required}}

{{/parameters}}

if(parameters.$queryParameters) {
    queryParameters = { ...queryParameters, ...parameters.$queryParameters };
}

    {{^isBodyParameter}}
        {{#isPOST}}
            form = queryParameters;
            queryParameters = {};
        {{/isPOST}}
    {{/isBodyParameter}}

    this.request('{{method}}', domain + path, body, headers, queryParameters, form, reject, resolve, parameters);
    });
}
