/**
 * {{&summary}}
 * @method {{&methodName}}
 * @name {{&className}}#{{&methodName}}
 * @param {object} req - request object
 * @param {object} res - response object
 */
{{&className}}.prototype.{{&destination}}_{{&methodName}} = function(req, res) {
  {{#parameters}}
    {{#isQueryParameter}}
      {{#x-AuthFieldType}}
        await_FieldValidator.validate('{{&x-AuthFieldType.value}}', req.query['{{=<% %>=}}<%&name%><%={{ }}=%>'], req, res);
      {{/x-AuthFieldType}}
    {{/isQueryParameter}}
    {{#isPathParameter}}
      {{#x-AuthFieldType}}
        await_FieldValidator.validate('{{&x-AuthFieldType.value}}', req.params['{{=<% %>=}}<%&name%><%={{ }}=%>'], req, res);
      {{/x-AuthFieldType}}
    {{/isPathParameter}}
    {{#isBodyParameter}}
      {{#x-AuthFieldType}}
        await_FieldValidator.validate('{{&x-AuthFieldType.value}}', req.body['{{=<% %>=}}<%&name%><%={{ }}=%>'], req, res);
      {{/x-AuthFieldType}}
    {{/isBodyParameter}}
    {{#isHeaderParameter}}
      {{#isSingleton}}{{/isSingleton}}
      {{^isSingleton}}{{/isSingleton}}
    {{/isHeaderParameter}}
    {{#isFormParameter}}
      {{#isSingleton}}{{/isSingleton}}
      {{^isSingleton}}{{/isSingleton}}
    {{/isFormParameter}}
  {{/parameters}}

  /*
    Method logic
  */

  {{#responses}}
    {{#200}}{{{code}}}{{/200}}
  {{/responses}}
};
