'use strict';

/**
* {{&description}}
* @class {{&className}}
*/
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} {{&className}} = (function(){

  function {{&className}}() {

  }

  {{#methods}}
    {{> method}}
  {{/methods}}

  /* objects >
  {{#objects}}
    destination: {{&destination}}
    <->
    reference: {{&reference}}
    <----->
  {{/objects}}
  < objects */

  return {{&className}};
})();

exports.{{&className}} = {{&className}};
