/*jshint -W069 */
'use strict';

(function() {
	
/**
 * {{description}}
 * @class {{className}}
 * @swagger model
 */
 function {{className}}() {
 		{{#vars}}
 			{{&.}}
 		{{/vars}}
 }


 exports.module = {{className}};

 })();
