/*jshint -W069 */
'use strict';
/**
 * {{&description}}
 * @class {{&className}}
 * @param {string} domain - The project domain
 * @param {integer} timeout - request timeout if not set defaults to 10seconds
 */
var {{&className}} = (function(){

    var request = require('request');
    var Q = require('q');

    var defaultTimeout = 10;

    function {{&className}}(domain,timeout){
        this.domain = domain;
        this.timeout = timeout!==undefined?timeout:defaultTimeout;
    }

    {{#methods}}
        {{> method}}
    {{/methods}}

    return {{&className}};
})();

exports.{{&className}} = {{&className}};
