/*jshint -W069 */
'use strict';

(function(enumType) {
	
/**
 * {{className}} {{description}}
 * @readonly
 * @enum { {{enumValueType}} } 
 * @swagger enum [{{#enums}} "{{enumValue}}" {{^last}}, {{/last}} {{/enums}}]
 */
enumType.{{className}} = {
		{{#enums}}
			{{enumType}}:'{{enumValue}}' {{^last}}, {{/last}}
		{{/enums}}
	};

 })(exports.module);


