/*jshint -W069 */
'use strict';

(function() {
	
/**
 * {{className}} {{description}}
 * @readonly
 * @enum { {{enumValueType}} } 
 * @swagger enum [{{#enums}} "{{enumValue}}" {{^last}}, {{/last}} {{/enums}}]
 */

var {{className}} = (function() {
	return {
		{{#enums}}
			{{enumType}}:'{{enumValue}}' {{^last}}, {{/last}}
		{{/enums}}
	};
})();

 exports.module = {{className}};
 })();


