var req = {
    method: '{{method}}',
    uri: domain + path,
    qs: queryParameters,
    headers: headers,
    body: body
};

if (this.timeout!==undefined) {
    req.timeout = this.timeout;
}

if(Object.keys(form).length > 0) {
    req.form = form;
}
if(typeof(body) === 'object') {
    req.json = true;
}
request(req, function(error, response, body){
    if(error) {
        deferred.reject(error);
    } else {
        if(/^application\/(.*\\+)?json/.test(response.headers['content-type'])) {
            try {
                body = JSON.parse(body);
            } catch(e) {
            
            }
        }
        if(response.statusCode >= 200 && response.statusCode <= 299) {
           deferred.resolve({ response: response, body: body });
        } else {
           deferred.reject({ response: response, body: body });
        }
    }
});
