/*jshint -W069 */
'use strict';

/**
 * {{description}}
 * @class {{className}}
 * @swagger model
 */
exports.{{className}} = function() {
 		{{#vars}}
			/**
			 * {{description}}
			 * @type { {{type}} {{#array}}[]{{/array}} }
			 */
			this.{{name}}={{initValue}} ;

 		{{/vars}}
};
