/*jshint -W069 */
/**
 * {{&description}}
 * @class {{&className}}
 * @param {string} domain - The project domain
 */
var {{&className}} = (function(){
    'use strict';

    var request = require('request');
    var Q = require('q');

    function {{&className}}(domain){
        this.domain = domain ? domain : {{&domain}};
    }

    {{#methods}}
        {{> method}}
    {{/methods}}

    return {{&className}};
})();

exports.{{&className}} = {{&className}};
