{{#imports}}
/// <reference path="{{.}}" />
{{/imports}}

interface {{&className}} {
{{#methods}}
    {{&methodName}}(parameters : {
    {{#parameters}}
        '{{name}}': {{>type}}
    {{/parameters}}
    }): {{#resultFn}}{{#responseType}}{{>type}}{{/responseType}}{{^responseType}}any{{/responseType}}{{/resultFn}};

{{/methods}}
}

// data types
{{#definitions}}
interface {{name}} {{>type}}

{{/definitions}}