/**
 * {{&description}}
 * @class {{&className}}
 * @param {(string|)} [domainOrOptions] - The project domain.
 */
class {{&className}} {

    private domain: string;

    constructor(domain: string) {
        this.domain = domain;
    }

{{#methods}}
    {{> method}}
{{/methods}}
}
