{{#tsType}}
{{! must use different delimiters to avoid ambiguities when delimiters directly follow a literal brace {. }}
{{=<% %>=}}<%!

%><%#isRef%><%target%><%/isRef%><%!

%><%#isAtomic%><%&tsType%><%/isAtomic%><%!

%><%#isObject%>{
<%#properties%>    '<%name%>'<%^isRequired%>?<%/isRequired%>: <%>type%>;<%/properties%> }<%#hasAdditionalProperties%> & {
    [key: string]: <%#additionalPropertiesType%><%>type%><%/additionalPropertiesType%>; }<%/hasAdditionalProperties%><%/isObject%><%!

%><%#isArray%>Array<<%#elementType%><%>type%><%/elementType%>><%/isArray%><%!

%><%={{ }}=%>
{{/tsType}}
