{{#imports}}
/// <reference path="{{&.}}" />
{{/imports}}

import * as request from "superagent";

{{#definitions}}
interface {{name}} {{>type}}
{{/definitions}}

/**
 * {{&description}}
 * @class {{&className}}
 * @param {(string)} [domainOrOptions] - The project domain.
 */
export default class {{&className}} {

    private domain: string;

    constructor(domain: string) {
        this.domain = domain;
    }

{{#methods}}
    {{> method}}

{{/methods}}
}
