{{#imports}}
/// <reference path="{{&.}}" />
{{/imports}}

import * as request from "superagent";

/**
 * {{&description}}
 * @class {{&className}}
 * @param {(string)} [domainOrOptions] - The project domain.
 */
export default class {{&className}} {

    private domain: string = "{{&domain}}";

    constructor(domain?: string) {
        if(domain) {
            this.domain = domain;
        }
    }

{{#methods}}
    {{> method}}

{{/methods}}
}
