{{#imports}}
/// <reference path="{{&.}}" />
{{/imports}}
import * as request from "superagent";

module {{moduleName}} {

{{#types}}
{{#description}}/** {{description}} */{{/description}}
interface {{name}} {{> type}}

{{/types}}

/**
 * {{&description}}
 * @class {{&className}}
 * @param {string} domain - The project domain.
 */
export default class {{&className}} {
    constructor(private domain: string) {}

{{#methods}}
    {{> method}}

{{/methods}}
}