/*
 * {{&summary}}
 * @method
 * @name {{&className}}#{{&methodName}}
{{#parameters}}
{{^isSingleton}} * @param {{=<% %>=}}{{<%&type%>}}<%={{ }}=%> {{&camelCaseName}} - {{&description}}{{/isSingleton}}
{{/parameters}}
 * 
 */
 this.{{&methodName}} = function(parameters){
    var deferred = $q.defer();
    
    var path = '{{&path}}';
    
    var body;
    var queryParameters = {};
    var headers = {};

    {{#parameters}}
        {{#required}}
        if(parameters.{{&camelCaseName}} === undefined){
            deferred.reject(new Error('Missing required {{&paramType}} parameter: {{&camelCaseName}}'));
            return deferred.promise;
        }
        {{/required}}
        
        {{#isQueryParameter}}
            queryParameters['{{&name}}'] = {{#isSingleton}}'{{&singleton}}'{{/isSingleton}} {{^isSingleton}}parameters.{{&camelCaseName}}{{/isSingleton}};
        {{/isQueryParameter}}
        
        {{#isPathParameter}}
            path = path.replace('{{=<% %>=}}{<%&name%>}<%={{ }}=%>', parameters.{{&camelCaseName}});
        {{/isPathParameter}}
        
        {{#isHeaderParameter}}
            headers[{{&name}}] = {{#isSingleton}}'{{&singleton}}'{{/isSingleton}} {{^isSingleton}}parameters.{{&camelCaseName}}{{/isSingleton}};
        {{/isHeaderParameter}}
        
        {{#isBodyParameter}}
            body = parameters.{{&camelCaseName}};
        {{/isBodyParameter}}
    {{/parameters}}

    var url = domain + path;
    {{#isGET}}
    var cached = parameters.$cache && parameters.$cache.get(url);
    if(cached !== undefined && parameters.$refresh !== true) {
        deferred.resolve(cached);
        return deferred.promise;
    }
    {{/isGET}}
    $http({
        timeout: parameters.$timeout,
        method: '{{method}}',
        url: url,
        params: queryParameters,
        body: body,
        headers: headers
    })
    .success(function(data, status, headers, config){
        deferred.resolve(data);
        if(parameters.$cache !== undefined) {
            parameters.$cache.put(url, data, parameters.$cacheItemOpts ? parameters.$cacheItemOpts : {});
        }
    })
    .error(function(data, status, headers, config){
        deferred.reject(data);
    });
    
    return deferred.promise; 
 };